.friendList {
  list-style: none;
}
.avatar {
  padding: 7px;
  border-radius: 10px;
}
.item {
  display: flex;
  width: 200px;
  margin-bottom: 7px;
  border-radius: 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}
.status {
  font-size: 30px;
  line-height: 2;
}
.online {
  composes: status;
  color: green;
}
.offline {
  composes: status;
  color: red;
}
